<div class="regione" data-toggle="tooltip" data-html="true" data-placement="bottom">
  <div class="regione_data" id="{{regione.codice_regione}}" >
    <span class="regione_data__regione_name"><a href="#" (click)="showFn(); getProvinciaDetail(regione.codice_regione)">{{regione.denominazione_regione}}</a></span>
    <span class="regione_data__regione_totale_positivi">Totale positivi: {{regione.totale_attualmente_positivi}}</span>
  </div>

  <div class="regione_data_detail" *ngIf="isShown">
    <span class="regione_data__nuovi_attualmente_positivi">ad oggi positivi: {{regione.nuovi_attualmente_positivi}}</span>
    <span class="regione_data__nuovi_dimessi_guariti">guariti: {{regione.dimessi_guariti}}</span>
    <span class="regione_data__nuovi_deceduti">deceduti: {{regione.deceduti}}</span>
    <span class="regione_data__nuovi_totale_casi">totale casi: {{regione.totale_casi}}</span>
    <span class="regione_data__nuovi_tamponi">tamponi effettuati: {{regione.tamponi}}</span>
  </div>

  <div class="province" *ngIf="isShown">
    <ul class="lista-province list-group">
      <li app-province *ngFor="let provinciaElement of provinceArray" 
        [province]='provinciaElement'
        [codice_regione]='regione.codice_regione'
        >
      </li>     
    </ul>
  </div>
</div>