

aside {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

main {
  background: #F8F8F8;
  padding: 30px 15px;

  @media screen and (min-width: 992px){
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    padding: 60px 30px;
  }
}

.footer-mobile {
  padding: 0 20px;
}

