

aside {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

main {
  background: #F8F8F8;
  padding: 60px 30px;

  @media screen and (min-width: 960px){
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
  }
}

