.totale-andamento {

  &__numero-casi {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__positivi {
    color: #FF972B;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;

    @media screen and (min-width: 992px){
      font-size: 30px;
      line-height: 35px;
    }
  }

  &__incremento {
    &-data {
      font-size: 12px;
      @media screen and (min-width: 992px){
      font-size: 14px;
      }
    }
  }
}